
<header>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="/Login">Login</a>
            </li>
            <li>
                <a href="Users">Users</a>
            </li>
            <li>
                <a href="/Detail">User Detail</a>
            </li>

        </ul>
    </nav>
    <h1>Header</h1>
</header>